@keyframes duckWing {
	0%   { background-position: -265px -220px; }
	33%  { background-position: -350px -220px; }
	66%  { background-position: -435px -220px; }
	100% { background-position: -435px -220px; }
}

.duck {
  background: url('../../images/sprite.png') no-repeat;
	height: 76px;
	display: none;
	width: 70px;
	position: absolute;
	bottom: 0;
	animation: duckWing 200ms infinite step-end alternate;
}
