body {
  position: relative;
  margin: 0;
  background-color: #3bbcfc;
  background-image: url('../../images/background-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 bottom -30px;
  font-family: '8BITWONDERNominal';
  min-height: 100vh;
}

.text-table {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0;
}

.score {
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  display: none;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 1.4em;
}

.duck {
  & + label {
    background-image: url(../images/duck_black.png);
    background-repeat: no-repeat;
    background-position: left center;
    z-index: 1;
		width: 36px;
		height: 34px;
  }
}
